html, body, #aspnetForm, #layout_body, #table_main, #cell_content, #cell_menu_nav
{
	height: auto;
}

/*#cell_content_table
{
	margin-top: 15px;
	border: 1px solid #cccccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: url(i/GradientImage.aspx?gdht=215&sc=e9e9e9&ec=ffffff) repeat-x scroll #ffffff;
	border-radius: 4px;
	}*/

#cell_menu_nav
{
	border: none;
	padding-left: 12px;
	padding-top:15px;
	width:185px;
}



#cell_content
{
	padding-right: 12px;
	padding-left: 12px;
}

.cell_content_right
{
	min-width: 175px;
	width: 175px;
	min-height: 355px;
	padding-right: 12px;
}
/*
.royal-right-inner
{
	min-height: 355px;
	min-width: 175px;
	width: 175px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.royal-content-right
{
	border: 1px solid #cccccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}*/

.divFunctionsNav, .divContentList
{
	margin-bottom: 15px;
	border: 1px solid #cccccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.divContentList
{
width:155px;
white-space:normal;
}

.divFunctionsNav
{
 background: url("../images/newimages/left-gradient.png") repeat-x scroll 0 0 #FFFFFF;/*RoyalLeftNavGradientStart & RoyalLeftNavGradientEnd*/
 width:175px;
 white-space:normal;
}


*html .divFunctionsNav
{
height:1%;
}

.divContentList .ad-rotator, .divContentList.ad-rotator
{
    border: 0;
    padding: 0;
}



.royal-footer-cell ul.helpLinks
{
	margin-top: 8px;
}

.royal-footer-cell ul.helpLinks li
{
	padding: 0 20px 0px 20px;
	border-right: 1px solid #b2b2b2;
}

.royal-footer-cell ul.helpLinks li.last-help-link
{
	border-right: none;
}

.royal-footer-cell ul.helpLinks li a.default
{
    text-decoration: none;
    outline: 0;
}

.royal-footer-cell ul.helpLinks li a.default:hover
{
    text-decoration: underline;
}
.royal-footer-cell ul.helpLinks a.default:visited
{
color:#393939;
}


.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	z-index:		99;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			auto;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit;
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.5em;
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em;
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em;
	top:			0;
}
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu a {
	padding: 		.75em 1em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  {
	color:			#13a;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;
}
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px;
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em;
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/newimages/TriangleDkGrey.gif') no-repeat;  /*Unselected Menu Item Arrow */
}

.sf-shadow ul {
	-moz-box-shadow: 4px 3px 4px #666666 !important;
	-webkit-box-shadow: 4px 3px 4px #666666 !important;
	box-shadow: 4px 3px 4px #666666 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')" !important;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666') !important;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

#royal-nav
{
	border: 1px solid #cccccc;
	width: 100%;
	height: 33px;
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 10pt;
	background: url(../images/newimages/GradientImage.png) repeat-x scroll #d0d0d2;
}

.sf-menu
{
	margin: 0;
	padding: 0;
}

#royal-nav li
{
	border-right: 1px solid #cccccc;
}

/*#royal-nav a
{
	color: #464646;
	border: none;
}*/

#royal-nav a:hover, #royal-nav a:active
{
	text-decoration: underline;
}



#royal-nav li ul.sub-menu li
{
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc #666666 #666666 #cccccc;
}

#royal-nav li ul.sub-menu li a
{
	background: transparent;
}

#royal-nav div.royal-sub-menu-wrapper
{
	padding: 20px 0 20px 0;
}

#royal-nav li ul.sub-menu li table
{
	width: 100%;
	white-space: nowrap;
	border: none;
}

#royal-nav li ul.sub-menu li table a
{
	white-space: nowrap;
	border: none;
	padding: 0;
}

#royal-nav li ul.sub-menu li table td
{
	border-right: 1px solid #cccccc;
	padding: 0px 15px 0px 15px;
	white-space: nowrap;
}

#royal-nav li ul.sub-menu li table td.last-sub-menu
{
	border-right: none;
}

#royal-nav div.royal-sub-menu-header
{
	font-weight: bold;
	display: block;
	margin: 0;
	white-space: nowrap;
	font-size: 11pt;
	color: #464646;
}

#royal-nav div.royal-sub-menu-item
{
	padding: 12px 0 0 0;
	margin:0;
}

#royal-nav div.royal-sub-menu-divider-wrapper
{
	padding: 12px 0 12px 0;
	margin: 0;
}

#royal-nav hr.royal-sub-menu-divider
{
	width: 100%;
	color: #cccccc;
	background-color: #cccccc;
	border: 0;
	height: 1px;
}

ul.leftContentListNav
{
	margin: 0;
	padding: 0 5px 0 5px;
}

ul.leftContentListNav li, ul.leftContentListNav li.selected
{
    padding: 4px 0 4px 10px;
    outline: 0;
}

ul.leftContentListNav li.selected
{
	padding-left: 0;
    margin-left: -6px;
}

ul.leftContentListNav li a
{
	outline: 0;
}

ul.leftContentListNav li.selected span.selected-indicator
{
	float:left;
	padding-left:0;
}

ul.leftContentListNav li.selected div
{
	padding-left: 16px;
}


#cell_button_area input, .inputbutton
{
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 5px 4px 5px;
	background: url(../images/newimages/GradientImageButton.png) repeat-x scroll #d0d0d2;
	font-weight: bold;
    border: 1px solid #cccccc;
    color: #464646;
    outline: 0;
}


#cell_button_area input:hover, .inputbutton:hover
{
    background: url(../images/newimages/GradientImageButton1.png) repeat-x scroll #c4c3c3;
    color: #000000;
}


#cell_button_area1
{
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 5px 2px 5px;
	background: url(../images/newimages/GradientImageButton.png) repeat-x scroll #d0d0d2;
	font-weight: bold;
    border: 1px solid #cccccc;
    color: #464646;
    outline: 0;
}


#cell_button_area1:hover
{
    background: url(../images/newimages/GradientImageButton1.png) repeat-x scroll #c4c3c3;
    color: #000000;
}


#cell_button_area2
{
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 1px 5px 1px 5px;
	background: url(../images/newimages/GradientImageButton.png) repeat-x scroll #d0d0d2;
	font-weight: bold;
    border: 1px solid #cccccc;
    color: #464646;
    outline: 0;
}


#cell_button_area2:hover
{
    background: url(../images/newimages/GradientImageButton1.png) repeat-x scroll #c4c3c3;
    color: #000000;
}


.bnone
{

height:18px
}



/*
.dgHeader, .dgHeader_border
{
    background: url(../images/newimages/GradientImageGrid.png) repeat-x scroll #c0c0c0;
    color: #464646;

}



.dgGrid td.royal_grid_first
{
    border-left:0;
}

.dgGrid td.royal_grid_last
{
    border-right:0;
}

.dgGrid td.royal_grid_notopborder
{
    border-top:0;
}

.dgGrid td.royal_grid_nobottomborder
{
    border-bottom:0;
}

.dgGrid td.royal_grid_noborder, .dgGrid .dgGridInnerTable td, .dgGrid.dgGridInnerTable td
{
    border:0;
}*/





ul.leftContentListNav
{
    margin: 0 0 0 -4px;
    padding: 0px 10px 0px 10px;
        list-style-type: none;
}

ul.leftContentListNav li, ul.leftContentListNav li a, ul.leftContentListNav li a:hover,
ul.leftContentListNav li a:visited, ul.leftContentListNav li.selected, ul.leftContentListNav li.selected a,
ul.leftContentListNav li.selected a:hover, ul.leftContentListNav li.selected a:visited
{
    padding: 5px 0 5px 0px;
    font-size: 10pt;
    font-weight: normal;
    font-family: Arial;
}

/*.divFunctionsNav ul.leftContentListNav li.leftContentListNavSelected,
.divFunctionsNav ul.leftContentListNav li.leftContentListNavSelected a
{
	font-weight: bold;
	color: #295ac0;   color of selected left nav function */
	/*padding-left:5px;

}*/

li.leftContentListNavSelected
{
	background: url("../images/newimages/arrow1.png") no-repeat scroll 0px 8px transparent;
	margin-left:0px;
	width:100%;

}

ul.leftContentListNav li
{
 outline: 0 none;
 padding: 4px 0 4px 10px;
}

ul.leftContentListNav li.leftContentListNavSelected
{
padding-left:10px;

}

#cell_content_content
{
	padding-left: 30px;
	/*padding-right: 30px;*/
	padding-right: 0px;
	padding-top: 5px;
	background: url('../images/newimages/page-gradient.png') repeat-x scroll 0 0 #FFFFFF;/*RoyalPageGradientStart & RoyalPageGradientEnd*/
	border-radius:4px;
	border: 1px solid #CCCCCC;
    /*margin: 15px 12px;*/
	-moz-border-radius: 4px 4px 4px 4px;

	/*opacity:0.4;*/

}
#cell_content_content_opacity
{
	padding-left: 30px;
	/*padding-right: 30px;*/
	padding-right: 0px;
	padding-top: 5px;
	background: url('../images/newimages/page-gradient.png') repeat-x scroll 0 0 #FFFFFF; /*RoyalPageGradientStart & RoyalPageGradientEnd*/
	filter: alpha(opacity=75);
	border: 1px solid #CCCCCC;
    /*margin: 15px 12px;*/
	-moz-border-radius: 4px 4px 4px 4px;

	/*opacity:0.4;*/

}

/*#content_title_text {
    color: #295ac0  ;
}*/

/*Footer CSS*/
.royal-footer-cell {
    padding: 0px 11px 15px 12px;
}


/*.royal-footer-cell div {
    border-color: red;
}

.royal-footer-cell div {
    background: url("../images/newimages/footer-gradient.png") repeat-x scroll 0 0 #CCCCCC;
}*/



.royal-footer-cell div {
    -moz-border-radius: 4px 4px 4px 4px;
	border-radius:4px;
    background: url("../images/newimages/footer-gradient.png") repeat-x scroll 0 0 #D0D0D2;/*RoyalFooterGradientStart & RoyalFooterGradientEnd*/
    border: 1px solid #CCCCCC; /*RoyalFooterBorder*/
    height: 33px;
    width: 100%;
}

.royal-footer-cell ul.helpLinks {
    margin-top: 8px;
}

/*Help Branding*/

ul.helpLinks {
    font-family: Arial;
    font-size: 10pt;
	color:#393939;   ;/*RoyalFooterForeground*/
    list-style-type: none;
    margin: 0;
    padding: 0 0 0px 0;
}

ul.helpLinks li:hover {
    text-decoration: underline;
}

ul.helpLinks a {
    font-family: Arial;
    font-size: 10pt;
	color:#393939;/*RoyalFooterForeground*/
    text-decoration:none
}

ul.helpLinks a:hover {
    color:#393939;/*RoyalFooterForeground*/
}

/* End Help Branding*/

/*.royal-footer-cell ul.helpLinks li {
    border-right-color: #CCCCCC;
}*/

.royal-footer-cell ul.helpLinks li {
    border-right: 1px solid #CCCCCC;/*RoyalFooterBorder*/
    padding: 0 20px 0;
}

ul.helpLinks li {
    display: inline;
    margin: 0;
    padding: 0 10px 0 0;
}


.royal-footer-cell ul.helpLinks li.last-help-link {
    border-right: medium none;
}

 ul.leftContentList_new li a, ul.leftContentListNav_new, ul.leftContentListNav_new li a {
    color: #393939;
}

ul.leftContentList_new li a {
    text-decoration: none;
}

.maincontent{
padding:15px 12px
}

.message_error
{
background-color:transparent;
}

.message_status
{
background-color:transparent;
}

.signonmargin
{
margin:0px 12px 0px 12px;
}

/*.subheader
{
color:#295ac0;
}*/

.newclass
{
   color:Blue;
}
.function-item-anchor a:hover span{text-decoration:underline;}

/* Menu Branding*/

#royal-nav
{
    border-color: #e9e9e9;   /*RoyalNavMainBorder*/
    background: url(../images/newimages/GradientImage.png) repeat-x scroll #c0c0c0; /*RoyalNavGradientStart & RoyalNavGradientEnd */
}

#royal-nav li.current-page-item a
{
    background: url(../images/newimages/GradientImageSelected.png)  repeat-x scroll #c0c0c0; /*RoyalNavSelectedGradientStart & RoyalNavSelectedGradientEnd*/
    color:#464646;  /*RoyalNavSelectedForeground*/
}

.sf-sub-indicator-selected
{
    position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em;
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
    background: url('../images/newimages/TriangleWhite.gif') no-repeat;  /* Selected Menu Item Downward arrow*/
}
#royal-nav li ul.sub-menu li a
{
    color: #FFFFFF; /*RoyalNavSelectedForeground*/
}

#royal-nav li.sfHover a, #royal-nav li a:hover
{
    background: url(../images/newimages/GradientImageSelected.png)  repeat-x scroll #c0c0c0; /*RoyalNavSelectedGradientStart & RoyalNavSelectedGradientEnd*/
    color:#FFFFFF; /*RoyalNavHoverForeground*/
}
#royal-nav li ul.sub-menu li a:hover
{
    color: #464646; /*RoyalNavHoverForeground*/
}


.sf-sub-indicator { background: url('../images/newimages/TriangleDkGrey.gif') no-repeat; }  /*Unselected Menu Item Arrow*/
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator { background: url('../images/newimages/TriangleWhite.png') no-repeat;}/*Menu Item Hover Arrow*/
#royal-nav div.royal-sub-menu-header { color: #FFFFFF; }    /*RoyalNavHoverSubGroupForeground*/

#royal-nav hr.royal-sub-menu-divider
{
    background-color: #8E908F; /*RoyalNavHoverBorder*/
    color: #e9e9e9;
}
#royal-nav li ul.sub-menu li table td
{
     border-right-color: #e9e9e9;/*RoyalNavHoverBorder*/
}
#royal-nav a { color: #565A5C; }    /*RoyalnavMainForeground*/
#royal-nav li { border-right-color: #cccccc; } /*RoyalNavMainBorder*/






/* End Menu Branding */


.dgGrid  {
    border-collapse: separate;

}
.dgHeader, .dgHeader_border {
    background: none repeat scroll 0 0 transparent;
    color: #464646;
}
.dgGrid td {
    border-bottom: 1px solid #D0D0D0;

}
.dgGrid th, .dgHeader th, .dgHeader td, .dgHeader_border th, .dgHeader_border td {
   background: url("../images/newimages/GradientImageGrid.png") repeat-x scroll 0 0 #C6C6C6;/*RoyalGridHeaderGradientStart & RoyalGridHeaderGradientEnd*/
    border: 1px solid #727473;      /*RoyalGridHeaderBorders*/
    color: #454545; /*RoyalGridHeaderForeground*/
    font-size:10pt;
    font-weight:bold;

}
.dgHeader th.royal_grid_sorted, .dgHeader td.royal_grid_sorted, .dgHeader_border th.royal_grid_sorted, .dgHeader_border td.royal_grid_sorted {
    background: url("../images/newimages/GradientImageSortGrid.png") repeat-x scroll 0 0 #A0A0A0;/*RoyalGridHeaderSortedGradientStart & RoyalGridHeaderSortedGradientEnd*/
    color: #000000;     /*RoyalGridHeaderSortedForeground*/

}

.dgHeader th.royal_grid_sorted .dgSortLink, .dgHeader td.royal_grid_sorted .dgSortLink, .dgHeader_border th.royal_grid_sorted .dgSortLink, .dgHeader_border td.royal_grid_sorted .dgSortLink {
    color: #000000;
}
.dgSortLink {
    color: #454545;
    outline: 0 none;
}
.dgHeader th a, .dgHeader td a {
    outline: 0 none;

}


.royal-ui-corner-tl
{
 -moz-border-radius-topleft: 4px;
}
.royal-ui-corner-tr {
 -moz-border-radius-topright: 4px;
}

.top_message_padding
{
    padding-right:50px;
}

.HelpTopic
{
color:#295ac0;
}

.frmerror
{
	color:#F00;
	font-weight:bold;
	font-size:12px;
	line-height:normal
}
